.controls {
  display: flex;
  justify-content: center;
}

.titleControls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.infoLink {
  color: #0c0;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
  text-transform: none;
  border: 1px solid rgba(55, 65, 81, 0.08);
  font-weight: 600;
  font-size: 0.95rem;
  white-space: nowrap;
  background: #161724;
  box-shadow: 4px 4px 6px rgba(9, 9, 14, 0.5),
    -4px -4px 6px rgba(87, 87, 87, 0.2);
}
