.coins {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

.noCoinItem {
  cursor: pointer;
  display: block;
  padding: 0 16px;
  position: absolute;
}

.coinItem {
  cursor: pointer;
  padding: 0 16px;
  border-radius: 0.8rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.coinItem:hover,
.coinItem:active,
.coinItem:focus {
  background: rgba(255, 255, 255, 0.1);
}

.coinItem:hover .coinItemTextPrimary,
.coinItem:active .coinItemTextPrimary,
.coinItem:focus .coinItemTextPrimary {
  color: #0c0;
}

.coinItem:hover .coinItemTextSecondary,
.coinItem:active .coinItemTextSecondary,
.coinItem:focus .coinItemTextSecondary {
  color: #0c0;
}
